<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <!--- basic page needs
    ================================================== -->
  <meta charset="utf-8">
  <title>Machine learning</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/main.css">

</head>

<body id="top">

  <!-- preloader
    ================================================== -->
  <div id="preloader">
    <div id="loader" class="dots-fade">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- Header
    ================================================== -->
  <header class="s-header">

    <div class="row">

      <div class="s-header__content column">
        <h1 class="s-header__logotext">
                    <a href="/" title="">Machine learning</a>
                </h1>
        <p class="s-header__tagline">All about machine learning and its applications</p>
      </div>

    </div>
    <!-- end row -->

    <nav class="s-header__nav-wrap">

      <div class="row">

        <ul class="s-header__nav">
          <li class="large-12 tab-full column current"><a href="/">Home</a></li>
          {% block title %} {% endblock title%}

        </ul>
        <!-- end #nav -->

        <div id="google_translate_element" style="position: fixed; top: 0; right: 0;"></div>

        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'en',
              includedLanguages: 'en,ru',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
          }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      </div>

    </nav>
    <!-- end #nav-wrap -->

  </header>
  <!-- Header End -->

  <!-- Content
    ================================================== -->
  <div>
    {% block content %} {% endblock content %}
  </div>

</body>

</html>