{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div class="s-content">
        <div class="row">
        <div id="main" class="s-content__main large-12 column">
                                <article class="entry">

                            <header class="entry__header">

                                <h2 class="entry__title h1">
                                    <a title="">{{ post.title }}</a>
                                </h2>

                            </header>

                            <div class="entry__meta">
                            <ul>
                                <li>{{ post.published_date }}</li>
                            </ul>
                        </div>

                            <div class="entry__content">
                                <p>
                                {{ post.body }}
                                </p>
                            </div>

                        </article> <!-- end entry -->
                </div>
        </div>

    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
    </div>
    </div>

{% endblock content %}

{% block title %}
    {% if user.is_authenticated %}
        <li style="margin-left: auto;
            margin-right: 0"><a>Hi {{ user.username }}!</a></li>
        <li style="margin-left: auto;
            margin-right: 0"><a id="myBtn" href="user/logout?next=/">Log out</a></li>
{% else %}
  <li style="margin-left: auto;
            margin-right: 0"><a href="{% url 'login' %}">Log In</a></li>
  <li style="margin-left: auto;
            margin-right: 0"><a id="myBtn" href="user/registration/">Sign up</a></li>
{% endif %}
{% endblock title%}